{% extends 'base.html' %}

{% block title %}
Algorand Wallet
{% endblock %}

{% block content %}
<div class="container row flex pt-5 mt-5">
    <div class="container col-lg-6 col-md-12 m-auto">
        <a href="/createwallet">
            <button class="btn btn-success">Create Wallet</button>
        </a>
    </div>
    <div class="container col-lg-6 col-md-12 m-auto">
        <a href="/importwallet">
            <button class="btn btn-success ">Import Wallet</button>
        </a>
    </div>
</div>
{% endblock%}